
/*
    https://kotchan.fun/css/spin.css
    https://kotchan.fun/css/roll.css
    https://kotchan.fun/css/flip.css
*/


.animation {
    overflow: hidden;
    color: inherit !important;
}

article.chat-post-wrapper:not(:hover) .animation {
    animation: none !important;
}


.roll:not(:empty) {
    position: relative;
    /*
    animation: spin 4s steps(160) infinite, moveLeftToRight 7s  steps(160)infinite, rollfade 10s steps(100) alternate, asd 2s steps(30) alternate;
    */
    animation: spin 4s steps(160) infinite, moveLeftToRight 4s  steps(160)infinite;
    /* animation-name: roll; */
    /* animation-duration: 1.0s; */
    animation-iteration-count: infinite;
    animation-timing-function:  steps(120);
    display: inline-block;
}


@keyframes asd {
    0% {
        filter: brightness(110%);
        transform: rotateZ(115deg);
        /*
        text-shadow: 3px 3px rgba(168, 21, 21, 0.253);
        box-shadow: 4px 3px 2px 2px rgba(255, 51, 0, 0.089);
        border-radius: 20%
        */
    }
    30% {
        filter: brightness(160%);
        transform: rotateZ(135deg);
        /*
        text-shadow: 3px 3px rgba(179, 153, 6, 0.178);
        box-shadow: 2px 2px -1px 1px rgba(255, 0, 13, 0.171);
        border-radius: 50%
        */
    }
    60% {
        filter: brightness(190%);
        transform: rotateZ(185deg);
        /*
        text-shadow: 3px 3px rgba(107, 84, 22, 0.692);
        box-shadow: 1px 1x 2px 1px rgba(117, 33, 82, 0.137);
        border-radius: 40%
        */
    }
    100% {
        filter: brightness(130%);
        transform: rotateZ(225deg);


        /*
        text-shadow: 3px 3px rgb(94, 3, 3);
        box-shadow: 2px 3px 1px 2px rgba(238, 255, 0, 0.205);
        */
    }
}

@keyframes glow {

}

@keyframes rollfade {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.89
    }
    100% {
        opacity:0.97;
    }
}

.fadeout {
    animation: fadeOut 1.2s forwards;
}
@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



.spin {
    animation-name: spin;
    animation-duration: 2.0s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(120) ;
}


@-ms-keyframes roll {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes roll {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes roll {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes moveLeftToRight {
  0%   { left: -50px; }
  100% { left: 140%; }
}

/*
@-moz-keyframes moveLeftToRight {
  from   { left: -100px; }
  to     { left: 100%; }
}

@-webkit-keyframes moveLeftToRight {
  from   { left: -100px; }
  to     { left: 100%; }
}*/



.spin {
	display:inline-block;
}

/*
.spin {
	display:block;
	position:relative;
}
.spin,
.spin.inline {
	display:inline-block
}
*/



@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.hflip {
    transform: scaleX(-1);
    display: inline-block;
}

.vflip {
    transform: scaleY(-1);
    display: inline-block;
}

/*
.nonono {
    display:        inline-block;
    position:       relative;

    animation:      800ms nonono;
    animation-iteration-count: infinite;
    animation-timing-function: steps(2, jump-none);
}

@keyframes nonono {
from {
    transform: scaleX(1);
}
to {
    transform: scaleX(-1);
}
}
*/

@keyframes ree {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -3px) rotate(-2deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 5px) rotate(0deg); }
	40% { transform: translate(2px, -2px) rotate(1.5deg); }
	50% { transform: translate(-3px, 2px) rotate(-1deg); }
	60% { transform: translate(-2px, 1px) rotate(0.2deg); }
	70% { transform: translate(1px, 3px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(2deg); }
	90% { transform: translate(3px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1.2deg); }
}

.ree {
    animation-name: ree;
    animation-duration: 0.8s;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: #990000 !important;
    font-weight: bold;
    display: inline-block;
}


@keyframes hop {
    0%   {transform: translate3d(0,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(0,30%,0) scale3d(1,1.5,1);}
    100% {transform: translate3d(0,100%,0) scale3d(1,.7,1);}
  }

.hop {
    position: relative;
    /*transform-origin: 50% 50%; */
    transform-origin: 100% 100%;
    animation: hop .5s linear alternate infinite;
    display: block;
}
  

.walk {
    position: relative;
    animation: moveLeftToRight 4s linear infinite;
}
