article.highlight {
    filter: brightness(75%);
}

article.confirming-deletion {
    filter: brightness(85%);
}

article.confirming-deletion div.chat-post-body {
    background-color: rgba(0, 0, 0, 0.068);
    filter: brightness(85%);
}

article.deleted-post {
    margin: 5px 0 5px 0;
}