
div#media-player-holder {
    z-index: 500;
    right: 5px;
    top: 5px;
}

:root {
    --player-max-width: max(min(400px, 100vw), 35vw);
}

div#player {
    display: flex;
}

#player-url {
    max-width: 80vw;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 15px;
}

div.chat-post-message > a.embed {
    margin-left: -10px;
}

#player > video {
    max-width: var(--player-max-width);
    max-height: 60vh;
}

#player > video,
#player > img,
#player > audio {
    margin: auto;
}

#player-url {
    display: block;
    max-width: 500px;
}


@media only screen and (max-width: 800px) {
    div#media-player-holder {
        right: 10px !important;
        top: -3px !important;
    }
}