.modal-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.062);
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    z-index: 100;
}


/*
.selectedBufferListWrapper::before {
    content: '>';
    position: absolute;
}*/

.selectedBufferListWrapper {
    font-weight: bold;
    position: relative;
    text-shadow: 1px 1px rgb(255, 255, 255, 0.3);
}

body.centered-ui #side-bar-togglables {
    direction: rtl;
}

body.centered-ui #chat-settings,
body.centered-ui #buffer-private,
body.centered-ui #buffers-publics {
    direction: ltr;
}

