.mobile {
	display: none;
}

@media only screen and (max-width: 600px) {

	div#chat-page-posts {
		margin: 2px !important;
	}

	form#input-stuff {
		position: fixed;
		bottom: 0;
	}

	form#input-stuff input,
	form#input-stuff button {
		width: min(28vw, 150px);
		margin: min(6px, 3vw);
	}

	a.chat-post-sender {
		display: inline-block;
		max-width: 40vw;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: pre;
	}

	img.poster-icon {
		margin: unset;
	}

	.show-input-form-mobile {
		display: block;	
		max-width: 100vw !important;
		width: 100vw !important;
		min-height: max(30vw, min(300px, 50vw));
	}

	form#input-stuff:not(.show-input-form-mobile) {
		display: none !important;
	}


	textarea#chat-page-input {
		min-height:25vh !important;
	}

	footer.chat-attachment-footer-container {
		display: none !important;
	}
	a.embed {
		display: none !important;	
	}

/*
	div.chat-post-content {
		width: 95vw;
	}*/
}


@media only screen and (max-width: 800px) {

	:root {
		--mobile: 1 !important;
	}
	
	.poster-icons-holder > img:nth-child(3) {
		display: none !important ;
	}
	
	#chat-container {
		margin-left: 0 !important;
	}

	audio {
		min-height: 60px;
		min-width: 50vw;
		max-width: 95vw;
	}

	#chat-feed {
		position: absolute !important;
		top: 30px !important;
		right: 5px !important;
	}

	/*div.replies {
		display: none;
	}*/

	span.chat-message-timestamp {
		white-space: nowrap;
	}
	span.chat-message-timestamp, a.chat-post-num, .replies, .message-toggle-expand {
		vertical-align: super;
	}

	img.sticker {
		border-radius: 6px;
	}
	
}

@media only screen and (max-width: 1000px) {


	#chat-upload-thumbnail-alt {
		display: block;
		text-align: center;
		max-width: 85vw;
		overflow-wrap: break-word;
	}

	#added-attachment-link {
		display: inline !important;
		align-self: center;
		margin-left: 3px;
		margin-right: 5px;
	}

	#chat-page-input {
		min-width: 90vw !important;
		min-height: 10vh !important;
	}

	#attachments {
		align-self: center !important;
	}

	
	#chat-file-input-wrapper:not(.hidden) {
		display: block !important;
	}

	#chat-file-input {
		display: none !important;
	}

	#chat-input-buttoms {
		flex-direction: row !important;
		width: 98vw;
		flex-wrap: wrap;
	}

	#chat-file-input {
		flex: 1;
	}

	#chat-input-rows {
		height: auto !important;
	}
}




@media (hover: none) { 
	:root {
		--mobile: 1 !important;
	}
}

@media only screen and (max-width: 1000px) {


	form#input-stuff {
		z-index: 10;
	}

	article.chat-post-wrapper {
		max-width: 100vw;
		overflow: hidden;
	}
	
	header#mobile-view-header {
		position: absolute;
		top: 1px;
		right: 0;
		z-index: 15;
		text-align: right;
		padding-right: 25px;
		display: block !important;
	}
	header#mobile-view-header:not(:hover) {
		filter: opacity(0.8);
		pointer-events: none;
	}
	header#mobile-view-header button {
		pointer-events: all;
	}


	#mobile-view-settings {
		display: flex;
		position: absolute;
		width: 100vw;
		height: 85vh;
		overflow: auto;
		top: min(15px, 2vw);
		left: 0;
		background: transparent !important;
		align-items: center;
		justify-content: space-around;
	}

	#mobile-view-settings table {
		background: var(--bg-color);
		border: 1px solid white;
		padding: 15px;
	}

	
	#chat-side-bar, #chat-top-header {
		display: none !important;
	}
	
	.link {
		line-break: anywhere;
		word-break: break-all;
	}

	#chat-side-bar {
		display: none;
	}

	select#mobile-view-buffer-switcher {
		position: absolute;
		opacity: 0;
		flex: 1;
		height: 30px;
		width: 50px;
		display: block;
	}
	
	button#mobile-view-buffer-switch-toggle {
		display: inline !important;
		margin-left: 15px;
		margin-right: 5px;
	}

	#input-stuff {
		flex-direction: column-reverse;
		max-width: 95vw;
	}

	#player-header {
		line-height: 30px;
	}

	#close-player {
		font-size: 22px;
		line-height: 25px;
	}
	.chat-input-group > input {
		margin: 2px;
	}

	#chat-input-rows {
		flex-direction: column;
		align-items: center;
		height: initial;
	}

	#chat-upload-thumbnail > img {
		padding-top: 3px;
	}
}


@media only screen and (max-width: 1400px) {



	#media-viewer {
		background: #b7afad63;
	}

	.chat-post-header, .chat-attachment-footer {
		font-size: 10px;
	}
	.chat-attachment-footer {
		overflow: hidden;
	}

	.chat-attachment-footer > .spacer {
		display: none;
	}

	img.attachment-thumb {
		cursor: grab;
	}
	/*
	#chat-container {
		overflow: hidden;
	}


	#chat-body-container {
		overflow: hidden;
	}*/

	#fingerprints-holder {
		display: none;
	}

	/*
	#chat-side-bar {
		width: 20px;
		flex-basis: 20px;
	}*/
}
