

div#chat-body-container  , div.buffer-holder {
    display: flex;
    flex-direction: column-reverse;
}

div#chat-input-rows {
    flex-direction: row-reverse;
    /*flex: 1;*/
}

#chat-top-header {
    order: 1;
}

textarea#chat-page-input {
    height: 80px;
    margin-left: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #84847b;
}

div#media-player-holder {
    top: 125px;
}

#chat-feed {
    position: absolute !important;
    top: 130px !important;
    right: 10px !important;
}
