
:root {
    --right-bar-width: max(300px, 15vw);
    --green-text-color: #429406;
    font-size: max(11px, 1vw, 1vh);

}

@import url("misc.css");;


html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


div#chat-container {
    padding: 0.3rem;
    height: calc(100vh - 0.8rem);
}

div#buffers-container {
    height: 95vh;
    overflow-y: auto;
    overflow-x: hidden;
}

div#chat-container {
    display: flex;
}

div#chat-body-container {
    flex: 1;
    position: relative;
}

img.poster-icon {
    margin-bottom: -3px;
}

img.attachment-thumb {
    margin-right: 0.5rem;
}


.hidden {
    display: none !important;
}

a {
    cursor: pointer;
}

header#player-header {
    display: flex;
}

header#chat-top-header {
    padding-left: 1rem;
}

div.replies > a.chat-reply-backlink {
    margin-left: 3px;
    padding-right: 3px;
}

span.chat-post-replies-count {
    display: none;
}


form#input-stuff {
    margin: 0.3rem 0 0.3rem 0;
}

div#buffer-name-and-topic {
    display: flex;
    flex-direction: column;
}

#name {
    font-weight: bold;
}

div#media-viewer {
    position: fixed;
}

div#media-player-holder {
    background: #c4ccee;
}

div#media-tooltip {
    font-size: 0.65rem !important;
    line-height: 0.52rem !important;
}

a#close-player {
    margin-left: auto;
}


div#chat-side-bar {
    display: flex;
    flex-direction: column;

    flex-basis: var(--right-bar-width);
    width: var(--right-bar-width);
    padding-left: 20px;
    height: calc(100vh);
    overflow: hidden;
}

div#buffers-private,
div#buffers-publics {
    overflow: hidden;
}

div#chat-feed {
    position: absolute;
    right: 5px;
    bottom: 5px;
}


div.buffer-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

div.buffer-link {
    display: flex;
}

span.buffer-unreads, .buffer-close {
    margin-right: 0.3rem;
}

span.buffer-description {
    max-width: calc(var(--right-bar-width) - 1vw);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
div.buffer-item.active-buffer {
    margin-left: 0.1rem;
}*/

div.active-buffer {
    /* border: 0.15rem dashed; */
    /* padding: 0.2rem; */
}

div.buffer-item.active-buffer > div.buffer-link > .buffer-name-holder {
    font-weight: bold;
}

.smoothed-scroll {
    scroll-behavior: smooth;
}

div.buffer-item:not(:hover) > div.buffer-link > a.buffer-close {
    visibility: hidden;
}

a.buffer-close {
    margin-left: auto;
    float: right;
}

a.buffer-name-holder {
    display: inline-block;
    max-width: calc(var(--right-bar-width) - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
a.attachment-link {
    position: relative;
}*/

div#chat-page-posts {
    height: 85vh;
    overflow: auto
}

div.replies {
    display: inline-block;
    max-width: 65vw;
    overflow-wrap: break-word;
}

a.chat-post-sender {
    color: #117743;
    font-size: 1rem;
}

div.chat-post-content {
    max-height: min(25vh, 400px);
    overflow: hidden;
}

form#input-stuff {
    display: flex;
}

textarea#chat-page-input {
    width: 75%;
}

#chat-input-rows {
    margin-left: 2rem;
    display: flex;
}

div#chat-input-buttoms {
    display: flex;
    flex-direction: column;
}

div.art-cover-holder {
    position: relative;
}

div.audio-ext {
    position: absolute;
    right: 0.55rem;
    bottom: 0.25rem;
    font-size: 0.8rem;
    padding: 0.1rem 0.15rem 0.1rem 0.15rem;
    border-radius: 0.15rem;
    color: #d9e8da;
    background-color: #46303085;
    border: 1px solid #a48c8c80;
    text-shadow: 1px 1px #ffffff26;
}

footer.chat-attachment-footer-container * {
    margin: 3px 1px 3px 1px;
}

div.chat-post-message {
    white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
    display: inline;
}

a.chat-post-attachment {
    float: left;
}