@import url("misc.css");


html, body {
    visibility: visible !important;
    font-family: "DejaVu Serif";
    margin: 0;
    padding: 0 2px 0 2px;
    height: 100%
}


:root {
    /* Values must be in pixels */
	--thumb-max-width: 128px;
    --thumb-max-heigth: 110px;
    --mobile: 0;
    --greentext-color: green;
    --redtext-color: red;
}

.sticker-wrapper img.sticker {
    object-fit: scale-down;
}

.stickied-post {
    position: sticky;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.096);
    border-bottom: 1px solid #0000002b;
    z-index: 50;
}

.stickied-post .chat-post-message {
    max-height: 150px !important;
    overflow: auto;
}

span.chat-post-replies-count {
    display: none;
}

.greentext {
    color: var(--greentext-color);
}


.hidden {
    display: none !important;
}

.mobile {
    display: none;
}

#conversation-id {
    text-align: right;
    font-size: 12px;
}

.fingerprint {
    font-weight: bold;
}

.bolted {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.s {
    text-decoration: line-through;
}

.u {
    text-decoration: underline;
}

.spoiler {
    color: black;
    background-color: black;
    padding: 0 2px 0 2px;
}

.spoiler:hover {
    color: white;
}

.redtext {
    color: var(--redtext-color) !important;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#chat-container {
    display: flex;
    height: 100%;
    width: 100vw;
    position: fixed;
}

#chat-body-container {
    display: flex;
    flex-direction: column;

    flex: 1;
    width: 75vw;
    position: relative;
    /* max-width: 100%; */
}


#chat-side-bar {
    display: flex;
    flex-direction: column;
    width: 25vw;
    max-width: 300px;
    padding: 2px 4px 0 5px;
}

#user-profile-id {
	width: calc(25vw - 30px) !important;
    max-width: 270px;
    margin-right: 3px;
}
/*
#chat-feed {
    font-size: smaller;
    word-break: break-word;
    max-height: 150px;
    overflow: auto;
    margin-top: auto;
    margin-bottom: 25px;
    max-width: 15vw;
    position: absolute;
    bottom: 15px;
    right: 3px;
}*/



.chat-post-delete {
    margin-left: 5px;
}

.chat-post-country {
    display: none;
    margin-right: 5px;
}


#buffer-users-count {
    float: right;
    margin-right: 5px;
}

#channel-name {
    font-size: 16px;
}

#chat-users-container {
    color: black;
}

.chat-user-item {
    cursor: pointer;
}

#buffers-container {
    color: black;
    display: block;
    /*height: 98vh;
    max-height: 85vh;*/
    height: calc(95vh);
    overflow-y: auto;
}

#user-alias {
    cursor: pointer;
}


.chat-user-link {
    display: block;
}

.chat-message-remove {
    line-height: 20px;
    width: 15px;
    cursor: pointer;
}


.buffer-drawing {
    scroll-behavior: auto !important;
}

.smoothed-scroll {
    scroll-behavior: smooth;
}

div#chat-page-posts {
    flex: 1;
    padding-right: 8px;
    overflow-y: auto;
}


#buffer-join-container {
    display: inline-flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1;
}


.reply-view-link {
	padding: 2px;
	margin-left: 3px;
}

.chat-info-message-wrapper {
    /* margin-left: 335px; */
    margin-left: 12px;
    max-width: 450px;
    font-size: smaller;
    display: block;
    margin: 2px 0 2px 0;
    /*cursor: pointer;*/
}

.chat-info-message-holder {
    display: inline-block;
}

.chat-info-message {
    white-space: pre-line;
    word-break: break-all;
}

.buffer-config-value {
    cursor: pointer;
    font-weight: bold;
}


.buffer-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    vertical-align: middle;
    margin-left: 15px;
    padding: 2px;
    margin: 1px;
    cursor: pointer;
}

.buffer-link {
    display: flex;
    flex: 1;
}


/*
header.chat-post-header {
    display: flex;
}*/

div.replies {
    max-width: 65%;
    overflow-wrap: anywhere;
    white-space: pre-line;
    display: inline-block;
}

.default-right {
    float: right;
}

/*
body.reversed * .buffer-drawing {
    overflow-y: hidden;
}*/



header.chat-post-header * {
    margin-right: 5px;
}

a.chat-post-sender {
    margin-right: 0 !important;
}

a.chat-post-num {
    color: black;
    cursor: pointer;
    margin-left: 3px;
}

.chat-post-toggle, .chat-post-delete, .chat-post-whisper {
    cursor: pointer;
}

.chat-post-whisper {
    margin-left: 5px;
}

/*img.poster-icon, */
img.whisper-icon {
    width: 15px;
    height: 15px;
}

.you-wrapepr {
    white-space: pre;
}

/*.you-highligter {
    display: inherit;
}*/

img.chat-post-whisper, span.poster-icons-holder {
    color: black;
    max-height: 15px;
}

a.chat-reply-backlink {
    cursor: pointer;
    /*padding-right: 6px;*/
    white-space: pre;
}

/*.you-wrapper {
    font-weight: bolder;
}*/

/*a.chat-reply-backlink.to-me, .you {
    filter: drop-shadow(1px 1px #bb2e9e94);
}*/

.chat-post-num:hover, .chat-reply-backlink {
    text-decoration: underline;
}

/*
a[title]:hover.attachment-link::after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    font-family: monospace;
    background: #f4e4dc;;
    min-width: 50vw;
    max-width: 60vw !important;
    white-space: pre-wrap;
    z-index: 2500;
    padding: 2px;
}*/

a.attachment-link {
    position: relative;
}

.post-header-right-items {
    margin-left: auto;
    line-height: 14px;
    display: inherit;
    /* padding-left: 30px; */
}


.buffer-item:hover a.buffer-close {
    visibility: visible;
}

a.buffer-close:hover {
    font-weight: bold;
}


a.buffer-close {
    visibility: hidden;
}

.buffer-description {
    /* font-style: italic; */
    font-size: small;
    color: #000;
    line-height: 12px;
    font-size: 11px;
}

div.active-buffer > .buffer-link > .buffer-name-holder {
    font-weight: bold;
}

/*
.active-buffer > .buffer-link > .buffer-fingerprint {
    font-style: normal;
}*/


/*
div.buffer-holder:not([data-status='READY']) * img.attachment-thumb {
    display: none !important;
}*/

code {
    display: inline-block;
    text-shadow: none;
    padding: 5px 5px 5px 10px !important;
    background: none;
}

.buffer-highlighter {
    text-decoration: underline;
}


.buffer-link {
    color: black;
}

.buffer-name-holder {
    cursor: pointer;
    /* width: 255px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    outline: 0;
    width: 100%;
    text-decoration: none;
}

.buffer-unreads {
    margin-right: 5px;
    width: 15px;
    font-size: smaller;
}



.buffer-description, .buffer-name-holder {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buffer-notis-indicator {
    cursor: pointer;
    width: 15px;
    margin-right: 3px;
}

.buffer-close {
    margin-right: 2px;
    /*
    float: right;
    cursor: pointer;
    align-self: flex-start;
    */
}


.chat-buffer-mod:before {
    content: '@';
}

.reply-stuff {
    width: 80px;
    display: inline-flex;
}

.new-messages-marker {
    margin: 3px;
    color: #db5555e6;
}

.chat-post-action {
    cursor: pointer;
}


/*
article[data-user-id='$2a$10$mAM0oYrjp0bCHFDsGaiB.eHRuAOpQtSSyWCDV4FShWJUYBlrLiJGS'] {
    display: none !important;
}

a.chat-reply-backlink[data-user-id='$2a$10$mAM0oYrjp0bCHFDsGaiB.eHRuAOpQtSSyWCDV4FShWJUYBlrLiJGS'],
article > header >.replies > a[data-user-id='$2a$10$mAM0oYrjp0bCHFDsGaiB.eHRuAOpQtSSyWCDV4FShWJUYBlrLiJGS'] {
    display: none !important;
}*/



#input-stuff {
    display: flex;
}


#chat-page-input {
    height: 100px;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    resize: vertical;
    width: 75%;
    align-self: center;
}

textarea#chat-page-input {
    outline: 0;
}

#chat-page-input[disabled] {
    background: gainsboro;
}

#chat-input-rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    margin-left: autof;
}

#chat-input-buttoms {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#chat-upload-thumbnail {
    padding-right: 5px;
    flex-direction: column;
    align-self: center;
}

#chat-upload-thumbnail-alt {
    text-align: center;
    display: none;
    font-size: smaller;
}

#chat-input-buttons {
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-self: center;
}

#chat-input-buttons > * {
    margin-bottom: 3px;
}

div.chat-post-message {
    /* min-height: 15px; */
    overflow: hidden;
}


.message-input-container {
    /* padding-left: 3px;
    /* margin: 0 0 3px 2px; */
    width: calc(100% - 320px);
	margin-left: 8px;
}


.chat-post-replies-count {
    padding-left: 5px;
    display: inline-block;
	align-self: flex-start;
    line-height: 14px;
}


.reply-to-msg {
    cursor: pointer;
    align-self: flex-start;
    visibility: hidden;
}

.message-viewer-wrapper {
    display: block;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

div.message-viewer-wrapper * img.attachment-thumb {
    cursor: zoom-in;
}

div.message-viewer-wrapper * a.chat-reply-backlink {
    padding: 0 8px 0 2px;
}

.message-viewer {
    border: 1px solid black;
    /* padding: 5px */
}

/*
.message-viewer:hover {
	background-color: white;
}*/


.chat-user {
    flex-basis: 135px;
    width: 135px;
    display: flex;
    justify-content: flex-end;
    height: 20px;
}


.chat-message-container {
    display: flex;
    line-break: strict;
}

/*
div.clearer {
    clear: both;
    display: none;
}*/

div.chat-post-body {
    /*
    display: flex;
    flex: 1;
    align-items: flex-start;
    */
	border-left: 2px solid transparent;
    /* padding-bottom: 2px; */
    /* clear: both; */
}



span.alias {
    font-weight: bold;
}

span.poster-icons-holder {
    /*height: 14px;*/
    display: inline-block;
    
}

/*
img.poster-icon {
    margin-bottom: -4px;
    margin-left: 3px;
}*/

img.poster-icon {
    /* object-fit: scale-down; */
    margin-bottom: -5px;
    margin-left: 3px;
}

img.whisper-icon {
    /*max-width: 20px;*/
    height: 14px;
    width: 16px;
    
    /*object-fit: scale-down;*/
    margin-bottom: -3px;
    object-fit: scale-down;
}

.attachment-hidden {
    display: none !important;
}

img.attachment-thumb {
    display: inline-block;
    /* position: relative; */
    /*
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    /* image-rendering: pixelated; */
    /* visibility: hidden; */
    /*
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    */
    overflow: hidden;
    font-size: 8px;
    margin-right: 4px;
}

/*
img.attachment-thumb.has-alhpa {
    padding: 3px 0 0 5px;
}*/

.chat-post-attachment {
    position: relative !important;
    display: inline-block;
}

.thumb-overlay {
    display: inline-block;
    position: absolute; 
    color: #f1f1f1; 
    color: white;
    text-align: center;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.thumb-overlay > img {
   max-width: min(80px, 50%);
   max-height: min(80px, 55%);
   object-fit: scale-down;
}*/

/*
div.replies {
    max-width: 40vw;
    overflow: hidden;
}*/



body.blurred-thumbs  .chat-post-attachment:not(:hover) > .attachment-thumb {
    filter: blur(7px) grayscale(80%) !important;
}

body.blurred-thumbs  .chat-post-attachment:hover > .attachment-thumb {
    animation: blurOFF 0.3s forwards;
}

@keyframes blurOFF {
    0% { filter: blur(7px) grayscale(80%); }
    100% { filter: blur(0) grayscale(0%) }
}


div.thumb-overlay {
    filter: brightness(75%);
}

body.blurred-thumbs  div.thumb-overlay {
    filter: blur(2px);
}

.chat-post-attachment:hover > div.thumb-overlay {
    animation: overlayHovered 0.5s forwards;
}

@keyframes overlayHovered   {
    0% { filter: brightness(75%)}
    100% { filter: blur(0) brightness(100%) }
}

.chat-post-attachment:hover > img.attachment-thumb {
    /*filter: brightness(75%)*/
    animation: thumbHovered 0.1s forwards;
}

@keyframes thumbHovered {
    100% { filter: brightness(75%); }
}

.chat-post-reply-button {
	margin-left: 5px;

	margin-right: 5px;
	cursor: pointer;
	visibility: hidden;
}

.chat-post-message {
    font-family: 'Courier New', Courier, monospace;
}

div.post-header-right-items .chat-post-sender {
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 15vw;
}


footer.chat-attachment-footer-container{
    /* line-height: 99%; */
    font-size: smaller;
    font-size: 10px;
    vertical-align: top;
    padding-left: 2px;
}


span.chat-post-whisper {
    margin-left: auto;
}




a.message-toggle-expand, span.chat-post-toggle, span.chat-post-delete {
    min-width: 13px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.message-expanded {
    max-height: max(60vh, 500px) !important;
    overflow-y: auto !important;
}

/*
.content-wrapper {
     min-width: 100px;
     padding-right: 5px;
     max-height: 200px;
     overflow-y: hidden;
}*/

div.chat-post-content {
    max-height: 180px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/*
div.chat-post-message {
    max-height: 200px;
    overflow-y: hidden;
}*/

.help-command {
    min-width: 75px;
    font-weight: bolder;
}

/*
img.attachment-thumb {
    margin-right: 3px;
}*/

.chat-post-message {
    white-space: pre-wrap;
	word-wrap: break-word;
	word-break: break-word;
    font-size: 13px;
    display: inline;
    margin-top: 3px;
}

.hidden-post {
    display: none !important;
}

img.attachment-thumb.encrypted {
    object-fit: contain;
}

a.chat-post-attachment {
    margin-right: 10px;
    margin-left: 7px;
    float: left;
    /*display: flex;
    flex-direction: column;*/
	/* margin-top: 3px; */
}

/*
.chat-attachment-footer {
    display: block;
    padding: 0 2px 2px 2px;
}*/

div.art-cover-holder {
    position: relative;
    text-align: center;
    color: #e6e5e5;
}

div.art-cover-holder .audio-ext {
    position: absolute;
    bottom: 5px;
    right: 0;
    font-family: initial;
    font-size: 10px;
    background: #0000009c;
    padding: 0 3px 0 3px;
}

.chat-post-attachment > audio {
    min-height: 30px;
    display: block;
}

.audio-cover-art {
    /*
	max-height: 115px;
    max-width: 250px;
    min-height: 30px;
    width: 50px;
    height: 30px;*/
    display: block;
}

div#media-player-holder {
    color: white;
}

header#player-header {
    font-size: smaller;
    font-weight: bold;
    text-align: center;
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: 2px 2px 3px #0d0b0b5e;
    filter: opacity(75%);
    z-index: 10;
}

div#media-player-holder:not(:hover) header#player-header {
    visibility: hidden;
}

div#media-player-holder[data-type='AUDIO'] header#player-header {
    visibility: visible !important;
}

#media-player-holder #player {
    text-align: center;
}

#media-player-holder #player audio {
    margin-top: 20px;
}

#media-player-holder.dragged #player audio,
#media-player-holder.dragged #player video {
    pointer-events: none;
}

a#close-player {
    cursor: pointer;
    float: right;
    margin-left: auto;
    margin-right: 3px;
    padding-left: 10px;
}

.audio-cover-art {
    cursor: pointer;
}

#chat-file-input {
    width: 250px;;
}

input:disabled {
    filter: brightness(40%);
}

#chat-upload-thumbnail > img {
    max-height: 75px;
    max-width: 125px;
}

#chat-upload-thumbnail-alt {
    display: block;
    overflow: hidden;
    font-size: smaller;
    position: absolute;
    right: 0;
}

#chat-upload-thumbnail-alt:hover #upload-filename,#upload-size {
    filter: brightness(135%);
}

#chat-upload-thumbnail-alt #upload-filename:hover {
    font-weight: bold;
}
#chat-upload-thumbnail-alt #upload-size:hover {
    font-weight: bold;
    cursor: pointer;
}

#chat-upload-thumbnail > img {
    cursor: pointer;
}

#chat-upload-thumbnail-alt:not(:hover) {
    filter: opacity(60%) drop-shadow(1px 1px #594848b8);
}


.chat-input-group {
    display: inline-flex;
    max-width: 100%;
}

.spacer:before {
    content: ' | ';
    font-size: smaller;
}

.chat-input-group > input {
    flex: 1;
}


.msg-attachment {
    display: flex;
    margin-left: 15px;
}

.msg-attachment > audio {
    min-height: 30px
}

.msg-attachment > a > img {
    max-height: 85px;
    max-width: 250px;
}


.attachment-info {
    font-size: 10px;
    /* align-self: flex-end; */
    /*padding: 3px;*/
    /* display: block; */
}


.media-viewer-centered{
	background: #68616063;
	cursor: pointer;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100vw !important;
	height: 100vh !important;
}



.media-viewer-centered > img {
    min-width: 10vw;
    max-width: 95vw;

    min-height: 45vh;
    max-height: 95vh;
}


#active-buffer-info-container > button {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}

div#buffer-name-and-topic #name {
    font-size: 14px;
    margin-left: 8px;
}

div#buffer-name-and-topic #topic {
    font-size: 11px;
    display: block;
    overflow-y: auto;
    max-height: min(90px, 5vh);
    white-space: pre-line;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    margin-left: 8px;
}

div#buffer-name-and-topic #topic::-webkit-scrollbar {
    display: none;
}

/*
div#buffer-name-and-topic #topic ::-webkit-scrollbar { width: 0 !important }
*/
.media-viever-touch-device {
    display: none;
    width: 100%;
    margin: auto;
    position: fixed;
    top: 40%;
    left: 50%;
    bottom: 0;
    right: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    max-height: 85vh;
    max-width: 85vw
}



#side-bar-toggles > a {
    margin-right: 5px;
    display: block;
}

#side-bar-toggles > .active-view {
    font-weight: bold;
}

a.link {
    display: inline-block;
    /*max-width: 66vw !important;*/
}

a.embed {
    font-size: 0.65rem;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

#user-keys-verified {
    text-align: right;
}

.post-signatures {
    /*
    position: absolute;
    right: 0;
    */
    max-width: 150px;
    
}

.post-signatures * {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 10px;
}


span#post-search-holder > input:not(:hover,:focus) {
    filter: opacity(5%);
}

.buffer-name-holder {
    display: flex;
}

#media-viewer > img,
#media-viewer > video {
    animation: fadeInFromNone 0.1s ease-in;
}

@keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeout {
    animation: fadeOut 1.2s forwards;
}
@keyframes fadeOut{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        /*display: none; */
    }
}
