/*
	Variables that can be overridden by themes
	and which might be used by javascript to enable to disable features
*/
:root {
	--mobile: 0;
	--smooth-scroll-disabled: 0;
	
	/* Must be in pixels */
	--thumb-max-width: 80px;
	--thumb-max-heigth: 80px;
}