@import url("plain-base.css");
@import url("../../style.css");
@import url("../../mobile.css");

:root {
	--bg-color: black;
	--text-color: #fbe7e7;
	--redtext-color: red;

	--thumb-max-width: 140px;
	--thumb-max-heigth: 120px;

	--smooth-scroll-disabled: 0;
}


html, body {
	padding: 0;
}

/*
a.chat-post-num {
	order: 1;
}

div.replies {
	order: 2;
	margin-left: 8px;
}

header.chat-post-header {
	position: relative;
}

div.post-header-right-items {
	margin-left: unset;
	order: -1;
	position: relative;
}
span.chat-post-whisper {
	order: 1;
}*/


header#chat-top-header {
	border-bottom: 1px solid #625d5d;
	padding-bottom: 2px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
	padding-top: 6px;
}

div.buffer-item {
	font-family: 'Courier New', Courier, monospace;
}

span#buffer-users-count {
	font-size: 12px;
}



body {
	background: var(--bg-color);
	/*background: linear-gradient(to right, #050404, #000000), url(https://grainy-gradients.vercel.app/noise.svg);*/
	color: var(--text-color) !important;
}

*:not(code *,input,select,button, .spoiler, .sticker-wrapper, img.sticker,.greentext,input,button) {
	/* background: var(--bg-color); */
	color: var(--text-color);
}

span.greentext {
	color: lime 
}

.buffer-holder > .new-posts-marker {
	color: transparent ;
}


/*
article {
	background: var(--bg-color);
}*/

div#chat-page-posts {
	background: #0b0808 !important;
	background: #261e1e !important;
	padding-left: 8px;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-bottom: 8px;
	border-radius: 3px;
}

body.centered-ui.reversed div#chat-page-posts {
	/*border-radius: unset !important;*/
	/*
	margin-bottom: unset !important;
	padding-bottom: unset !important;*/
}

body.centered-ui div#chat-page-posts {
	margin-bottom: -6px;
	border-radius: 0;
}

body.reversed * textarea#chat-page-input {
	margin-left: 10px !important;
}


article.replies-to-me > div.chat-post-body {
	border-left: 2px solid #622727;
}

div.chat-post-body {
	border-radius: 2px;
}

article.chat-post-wrapper {
	background: #101011 !important;
}

article.chat-post-wrapper:hover {
	filter: brightness(105%);
}
/*
div.chat-post-body {
	background: #101011;
}*/

/*
div#chat-page-posts {
	background: #101011;
}*/

a.link {
	color: rgb(181, 192, 208) !important;
	font-size: 12px;
}

a.embed {
	color: #6767f2 !important;
	font-size: 9px !important;
}

article.chat-post-wrapper {
	border-bottom: 1px solid #3c3636 !important;
	margin-top: 4px !important;
	padding: 2px;
	border-radius: 2px;
	padding-left: 3px;
}

code.hljs {
	background: #171313;
}

/*
code:hover {
	background: #f9cfcf1c !important;
}*/

form#input-stuff {
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: 0 8px 5px #0006;
}

div.buffer-item {
	padding: 2px;
	margin-left: 8px;
}

a.buffer-name-holder {
	padding: 2px 0 2px 0;
}

article.reply-to-me {
	border-left: 2px solid red;
}

article.post-on-highlight {
	filter: brightness(150%);
}

/*
div.buffer-item {
	border: 1px dotted transparent;
}*/
/*
div.buffer-item.active-buffer {
	border-left: 2px solid 2px solid #958c8d
}*/

header.chat-post-header {
/*header.chat-post-header * { */
	color: #cac1cc !important;
	background: #090808 !important;
}

head.chat-post-header:not(a.chat-reply-backlink) {
	text-shadow: 1px 1px #4a3838;
}

header.chat-post-header {
	padding-top: 2px;
	padding-left: 5px;
	padding-bottom: 2px;
	align-items: center;
	font-size: 13px;
	/* line-height: 13px; */
	background: none !important;
}

div.replies > a.chat-reply-backlink {
	font-size: 11px;
}

.sticker {
	border-radius: 2px;
}

article.replies-to-me .chat-post-message {
	background: #3e35353b;
	border-radius: 2px;
}

div.chat-post-message {
	color: #eed4d4 !important;
	/*text-shadow: 1px 1px #83b97f52 !important;*/
	font-size: 15px;
	line-height: 18px;
}

a.chat-post-attachment {
	margin-top: 1px;
}

div.chat-post-content {
	padding: 0 0 5px 0;
}

footer.chat-attachment-footer-container {
	margin-top: 1px;
	padding-bottom: 0;
	padding-left: 5px;
	font-size: 11px;
}


/*
.chat-post-message > *:first-of-type.sticker-wrapper	{
	float: left !important;
	margin-right: 5px;
}*/


a.chat-post-sender {
	color: #80b55d !important;
	text-shadow: 1px 1px #7ce3374f !important;
	filter:brightness(135%);
	font-size: 14px;
}


div.buffer-item.active-buffer * {
	background: #131312;
	color: white !important;
}

div.buffer-item.active-buffer .buffer-name {
	text-shadow: 3px 3px black;
}

a.buffer-name-holder {
	padding: 2px 0 0 5px;
	filter: none !important
}
a.buffer-name-holder:hover .buffer-name {
	filter: brightness(115%) !important;
}

span.buffer-description {
	color: #e4e4bc !important;
	padding-left: 5px;
}

.buffer-description:not(:empty) {
	padding: 0 5px 5px 8px;
	margin-top: -2px;
}


div.message-viewer-wrapper {
	border: 1px solid #2f2b2b;
	padding: 2px;
}

a.chat-reply-backlink {
	color: #cc819d !important;
}

a.replies-to-me {
	color: #b93968 !important
}

div#player {
	border: 1px solid #111010;
	background: #282525db;
}

header#player-header,
header#player-header * {
	background: #0f0d0d !important;
}

header#player-header > span#player-url {
	font-size: 11px !important;
	font-family: monospace;
	padding: 3px !important;
	margin-left: 5px !important;
}


textarea {
	border: 1px solid rgb(20, 19, 19);
	padding: 5px;
}


/*
a {
	transition: 0.15s;
}*/

a:hover {
	filter: brightness(150%)
}

img.whisper-icon {
	background: none !important;
	filter: drop-shadow(rgba(160, 127, 127, 0.98) 0px 1px 0);
}

img.poster-icon:hover {
	filter: brightness(130%);
}

textarea#chat-page-input {
	background: #1a1818 !important;
}

.media-viewer-centered {
	background: #6a626024 !important;
}

video.media-loading,
img.media-loading {
	background: #83838a5e !important;
}

.media-loaded {
	animation-name: test;
	animation-duration: 1250ms;
	animation-iteration-count: 1;
}

@keyframes test {
	from {background: #83838a5e;}
	to {background: transparent;}
}


/*
#media-viewer img.has-animation {
	filter: drop-shadow(rgba(81, 26, 60, 0.81) 0px 5px 5px) brightness(110%)
}*/
/*
article.chat-post-wrapper:nth-child(odd) * {
	background: #1a1818 !important;
}*/

/*
article.chat-post-wrapper::before {
	content: ">>";
	position: relative;
	right: 5px;
	font-size: 12px;
	height: 12px;
}

header.chat-post-header, div.chat-post-body {
	position: relative;
	top: -12px;
}*/

#chat-page-posts {
	padding-right: 5px;
}


div#buffer-name-and-topic #name {
	font-weight: bold !important;
	color: white !important;
	font-size: 15px !important;
	font-family: 'Courier New', Courier, monospace;
}

div#buffer-name-and-topic #topic {
	font-size: 13px !important;

}

@media only screen and (max-width: 550px) {
	div#chat-page-posts {
		padding: 0;
	}

	div#article.chat-post-wrapper {
		padding-left: 1px;
	}
}

@media only screen and (min-width: 600px) {
	a.chat-post-num::before {
		content: 'No. ';
	}
}


@media only screen and (max-width: 800px) {
	header#mobile-view-header {
		background: rgb(0, 0, 0, 0.25) !important;
		border-bottom: 1px solid black;
	}
	form#input-stuff {
		background: rgb(0, 0, 0, 0.15) !important;
		border: 1px solid rgb(0, 0, 0, 0.08) !important;
	}
}

