@import url("plain-base.css");
@import url("../../style.css");
@import url("../../mobile.css");


:root {
	--thumb-max-width: 115px;
	--thumb-max-heigth: 120px;
	--bg-color: white;
	--text-color: #071020 !important;
}

body {
	font-family: sans-serif;
	font-family: monospace;
}

div.content-wrapper {
	padding: 5px;
}

div#chat-page-posts {
	margin-right: 8px !important;
}

/*
div.buffer-holder {
	background: #f9f5f561 !important;
}*/
#chat-top-header:not(:hover) {
	filter: opacity(0.4)
}

#chat-top-header {
	position: fixed;
	left: 0;
	background: white;
	width: 100%;
	text-align: center;
	border-top: 1px solid rgb(1, 1, 1, 0.15);
	padding: 3px;
}

div#buffer-name-and-topic #name {
	font-weight: bold;
}

article {
	margin: 2px;
	background: var(--bg-color) !important;
	padding: 8px 0 8px 15px;
	border-radius: 2px;
}
article {
	border: 1px solid rgb(1, 1, 1, 0.05); 
}
article:nth-of-type(even) {
	background: #f9e6e91c !important;
	/*border: 1px solid rgb(1, 1, 1, 0.05);*/
}
article:nth-of-type(odd) {
	border: 1px solid rgb(1, 1, 1, 0.05);
}
body {
	background-color: #f9e6e91c;
}

a.chat-reply-backlink {
	color: red;
}

a.chat-post-num:hover {
	font-weight: bold;
}


textarea#chat-page-input ,
div#chat-input-rows {
	margin-top: 10px !important;
	padding-top: 5px !important;
}
#chat-upload-thumbnail-alt {
	margin-top: -12px !important;
}

div#chat-input-rows {
}

/*
article.replies-to-me {
	background: #f9e6e669 !important;
}*/

article.replies-to-me .chat-post-body {
	border-left: 2px solid red;;
}

article:not(:hover) * .default-right
{
    visibility: hidden;
}

div.art-cover-holder {
	filter: drop-shadow(rgba(187, 158, 158, 0.57) 0px 5px 5px);
}


header#chat-top-header {
	border-bottom: 1px solid #2f11111c;
}

div.replies {
	margin-left: 3px;
}

div.chat-post-body {
	padding-left: 2px;
	padding-bottom: 3px;
}

/*
header.chat-post-header {
	background: #fdf3f3;
}*/

img.attachment-pdf {
	border: 1px solid #f2efef;
}

.message-viewer-wrapper {
	border: 1px solid #fdeded;
	padding: 6px;
}

div.chat-post-message {
	font-size: 14px;
	text-shadow: 1px 1px #cc585842;
}

header#player-header {
	color: black;
	background: #f7f3f3;
}

a.chat-post-sender {
	font-weight: bold;
	color: #d51212;
	margin-left: 7px;
}

a.chat-post-attachment {
	margin-left: 0;
}

#chat-page-posts,
div#buffers-container {
	scrollbar-width: thin;
	scrollbar-color: #eddada white;
}

.buffer-item.active-buffer {
	background-color: #e0cdcd30;
}

.buffer-item.active-buffer .buffer-name {
	filter:drop-shadow(2px 2px #00000021)
}

/*
#chat-page-posts::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
*/


#buffers-container::-webkit-scrollbar-thumb,
#chat-page-posts::-webkit-scrollbar-thumb {
	background-color: #eddada;
  }
   

#chat-page-posts::-webkit-scrollbar,
div#buffers-container::-webkit-scrollbar{
	background: white;
	width: 10px !important;
}

div#buffers-container {
	margin-left: 20px;
	padding-left: 20px;
}
#chat-page-posts {
	margin-right: 20px;
	padding-right: 20px;
}


.buffer-name, .buffer-description, .buffer-prefix {
	color: #4a4141 !important;
}