
:root {

	--thumb-max-width: 150px;
	--thumb-max-heigth: 150px;
	--bg-color: black;
	--text-color: white;
}

body {
	visibility: visible !important;
	background: var(--bg-color);
	color: var(--text-color) !important;

	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	font-family: 'Courier New', monospace !important; 

}

div#side-bar-togglables {
	margin-left 25px !important;
}
.spoiler:not(:hover) {
	filter: blur(3px);
}

a[title]:hover.attachment-link::after {

	color: var(--text-color) !important;
	background: var(--bg-color) !important;
}


div#side-bar-toggles {
	margin-top: 3px !important;
	font-size: 11px !important;
}

div#nick {
	font-weight: bold;
	font-size: 13px;
}

span#verified-contact-info {
	font-size: 12px;
}

span.buffer-description:not(:empty) {
	padding-bottom: 5px;
}

div#chat-post-viewers > div.message-viewer-wrapper {
	background: var(--bg-color);
}


header.chat-post-header{ 
	font-size: 13px;
}


div#media-viewer img {
	background: transparent;
}

/*
article.chat-post-wrapper:hover {
	background: var(--bg-color);
}*/

img.attachment-thumb {
	/*
	max-width: var(--thumb-max-width);
	max-height: var(--thumb-max-heigth);
	*/
	margin: 1px 1px 1px 0;
	/* object-fit: scale-down; */
	/* border: 1px solid white; */
}

article.chat-post-wrapper {
	margin: 8px 0 0 0;;
	/*
	display: flex;
	flex-direction: column;
	*/
}

div.chat-post-content {
	margin-left: 3px;
}

footer.chat-attachment-footer-container {
	font-size: 10px;
}



div.buffer-link {
	font-size: 16px;
	line-height: 18px;
	padding: 3px;
}

div.buffer-item .buffer-description a.link {
	display: inline;
	font-size: 10px;
}

.fingerprint {
	font-size: 10px;
}

table#fingerprints-holder {
	font-size: 12px;
}
