@import url("../style.css");
@import url("../mobile.css");

#mobile-buffer-switcher {
    display: none;
}

:root {
	--greentext-color: #1bd21b;
}

body {
	background: #121213;
	color: #ffe0e0;;
	font-size: 12px;	
}

a.chat-post-num {
	color: #ffe0e0;;
}

.message-viewer-wrapper {
	border: 1px solid #776e6f;
	background: #131313;
}

div#mobile-view-settings {
	background: #131313;
}

.post-header-right-items {
	padding-right: 3px;
}

.chat-post-sender:not(:hover) {
	color: #f2ebe7;
}

.chat-post-sender {
	margin-right: 15px;
}

.chat-post-sender > .alias {
	color: #f0eeee;
}

.chat-post-num {
	color: white;
}


header#chat-top-header {
	border-bottom: 1px solid #595962;
	border-right: 1px solid #aab1b7;

}

#active-buffer-info-container {
	font-size: 12px;
	padding: 5px;
}

article.chat-post-wrapper {
	/* background: #9d94947d; */
	/* margin-top: 15px;
	margin-bottom: 5px; */
	/*padding: 5px;*/
	/* margin: 5px 0 3px 0; */
	background: black;
	margin-bottom: 4px;
}

.chat-info-message-holder {
	background: black;
}

#user-profile-id {
	color: white !important;
}

.link {
	color: #c6c3ae;
	font-size: 11px;
}

.link:visited {
	color: #9b9a8d;
}

.spoiler {
	padding: 0 15px 0 15px;
	margin-top: 3px;
}

.spoiler:not(:hover) {
	background: #d2cccc;
	color: #d2cccc;
}

div#side-bar-toggles > a {
	color: #979660 !important;
	font-size: 12px;
}

div#side-bar-toggles > a#new-buffer {
		color: #a7a689 !important
}


/*.chat-post-content {
	display: flex;
	flex-direction: column-reverse;
}*/

#chat-side-bar {
	border-right: 1px solid #f5f5f566;
}

#input-stuff, #chat-side-bar {
	border-bottom: 1px solid #f5f5f566;
}

#chat-side-bar, #input-stuff {
	background: #15152842;
}

.post-on-highlight {
	filter: brightness(175%);
}

.post-on-highlight > .chat-post-header > .chat-post-num {
	color: #dfa5a5;
}

.attachment-link {
	color: #c6d0e3;
}

.closeAudio { 
	color: #f98080;
}

.chat-post-header { 
	background: #242328;;
	padding: 1px 5px 1px 0;
	height: 15px;
	line-height: 15px;
}	

.media-viewer-centered {
	background: #82858a2b;
}

.chat-post-header > span {
	margin-left: 4px;
}


.chat-post-replies-count:not(:empty) {
	text-decoration: underline;
}

/*
.chat-post-replies-count:not(:empty) {
	background: #15152842;;
	line-height: 12px;
	font-size: 10px;
	border: 1px solid #ffffff6b;
	padding: 0 2px 0 2px;
}*/

div.chat-post-message {
	color: #bbc190;
	padding: 7px 5px 5px 5px;
	font-family: unset;
}

textarea#chat-page-input {
	background-color: #1c1a1a;
	color: white;
}

#chat-page-posts {
	background: #141315;
	scrollbar-color: #717080 #19181e;
}


.chat-whisper-container .whisper-message:not(:hover) {
	text-shadow: 0 0 3px rgba(194, 175, 175, 0.5)
}

.chat-post-header, .chat-attachment-footer {
	font-size: 11px;
}

.chat-attachment-footer {
	margin-top: 1px;
}

a.chat-reply-backlink {
	text-decoration: none;
	color: #b1ac6a;
}

a.chat-reply-backlink.replies-to-me {
	color: #e3ca59;
	text-decoration: underline;
}

div.buffer-item {
	border: 1px solid black;
	background: #020202;
	margin: 2px;
	padding: 4px;
}

div.active-buffer {
	border-style: solid;
	background: black;
}

.buffer-name-holder, .buffer-description {
	color: #d5cdc7;
}




.buffer-close {
	color: red;
}