@import url("../mobile.css");
@import url("../style.css");

:root {
	--greentext-color: #1cf21c;
}

body {
	visibility: visible !important;
	color: #eeeae7;
	background: #ae519b;
	/*
	background: linear-gradient(-45deg, #ae519b, #c655af, #a940d9, #b571d5);
	background: linear-gradient(-45deg, #d5b3ce, #dd4abf, #d99ef4, #b571d5);
	background: linear-gradient(-45deg, #dd4abf, #d99ef4);
	*/
	background: linear-gradient(-45deg, #f0d8eb, #d8caea, #f3d7fd);
	background-size: 200% 200%;	
	font-family: 'Courier New', Courier, monospace;

	animation: gradient 5s ease infinite;

}

/*

*/
@keyframes gradient {
	0% {
		background-position: 0% 20%;
	}
	33% {
		background-position: 30% 50%;
	}
	50% {
		background-position: 60% 80%;
	}
	60% {
		background-position: 40% 50%;
	}
	75% {
		background-position: 20% 20%;
	}
	95% {
		background-position: 20% 20%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	33% {
		background-position: 30% 75%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a#user-profile-id {
	color: #000;
	font-size: 12px;
}

a#new-buffer {
	color: black;
}

span.chat-post-num {
	color: #eeeae7 !important;
}


@keyframes textAni {
	0% {
		filter: drop-shadow(rgba(219, 33, 146, 0.65) 5px 10px 5px)	}

	100% {
		filter: drop-shadow(rgba(158, 106, 9, 0.589) 25px 15px 12px)
	}
}


div.chat-post-message {
	text-shadow: 1px 1px black;
	text-shadow: 1px 1px #cecb10;
	/* filter: drop-shadow(rgba(219, 33, 146, 0.65) 5px 10px 5px); */
	filter: drop-shadow(rgba(219, 33, 146, 0.65) 5px 10px 5px);
	animation: textAni 15s ease infinite;
	animation-direction: alternate;
}


.buffer-name-holder, .buffer-description {
	color: #9dee3c;
}

header#chat-top-header {
	background: #6614ca;
	margin-top: 15px;
}

header.chat-post-header {
	background: #601e1e;
	font-size: 11px;
	padding: 1px;
}

div#chat-body-container {
	/*
	background: #91358b8c;
	*/
	margin: 5px;
	margin-bottom: 15px;
	padding: 5px;
	border-radius: 5px;
	/*
	border: 1px solid #ae6868;
	box-shadow: 5px 5px #56185b5e;
	*/
}

div#chat-page-posts, form#input-stuff, header#chat-top-header {
	border: 1px solid #ae6868;
	background: #91358b8c;
	box-shadow: 5px 5px #56185b5e;
	scrollbar-color: #f03a98 #9f3f3f8c;
}

article.chat-post-wrapper {
	margin-top: 5px;
	border: 1px solid #aca1a1;
	background: #dcb0dd52;
}

div.chat-post-message {
	color: white;
}

header#chat-top-header {
	margin-bottom: 12px;
}

form#input-stuff {
	margin-top: 15px;
}

div#chat-side-bar {
	margin-right: 15px;
}

div#side-bar-togglables {
	background: #a6228b;
	border: 1px solid #d047b4;
	font-size: 14px;
	padding: 2px;
}

div#buffers-container {
	scrollbar-color: transparent transparent;
}

textarea#chat-page-input {
	padding: 5px;
	margin-top: 7px;
}

/*
div#chat-page-posts {
	background: #45115eb8;
}*/

div.buffer-holder {
	/*
	background: #ca63f070;
	*/
	padding-left: 5px;
	padding-bottom: 5px;
}

a.attachment-link {
	color: #f4dfec !important;
}

span.chat-attachment-footer {
	font-size: 11px;
	margin-top: 2px;
	background: #913306;
}

a.closeAudio {
	color: #fc96ff !important;
}

article div.chat-post-body {
	padding: 3px 5px 4px 5px;
}

div.chat-post-message > .link {
	color: #e397f9;
}

.greentext {
	color: #1cf21c;
	/* animation: viherrys 3s infinite; */
}

@keyframes viherrys {
	0% { color: #1cf21c; }
	60% { color: #70f470; }
	100% { color: #1cf21c; }
}

div.buffer-item {
	margin: 2px;
	margin-top: 3px;
	background: #ca4db6;
}

div.active-buffer {
	background: #d9399a;
	border: 1px solid #d0a9f7;
	animation: huone 90s infinite;
}

@keyframes huone {
	0%  { background-color: #d9399a;}
	44% { background-color: #9331b7; }
	55% { background-color: #ac2a61; }
	75% { background-color: #ae269f;}
	90% { background-color: #9f3e50;}
}