

@import url("../mobile.css");
@import url("../style.css");


#mobile-buffer-switcher {
    display: none;
}

:root {
    --bg-color: #f1f1e5;
    --greentext-color: #0d4c16;

    --thumb-max-width: 158px;
    --thumb-max-heigth: 158px;
}


body {
    margin: 0;
    visibility: visible !important;
    font-size: 14px;
    /*
    background: #ffe url('img/fade.png') repeat-x 50% 0%;*/
    background: linear-gradient( var(--bg-color) 150px, #eeedd9);
    background: linear-gradient( var(--bg-color) 150px, white);
    background: linear-gradient( #f7e3d3 250px, white);
    background: linear-gradient( #fbf5f0 250px, #f9f3ee);
    font-family: "Lucida Console", Monaco, monospace;
}

code {
    background: #f2e2e24d;
    margin-left: -5px;
    color: #510a1c;
    text-shadow: 1px 1px #d5bebead;
}

span.hljs-property {
    color: #ac1a1a;;
}

span.hljs-string {
    color: #d00707;
}

span.hljs-title {
    color: #771a10;
}

span.hljs-params {
    color: green;
}

.attachment-link {
    font-family: monospace;
}

div#nick {
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

.sticky-post {
    position: sticky;
    top: 0;
    background: var(--bg-color);
}

#mobile-view-settings table {
    border: 1px solid #d2c6bd;
}

.post-on-highlight {
    filter: brightness(115%)
}

.message-viewer-wrapper {
    background: #fff3f3;
    border: 1px solid #b5acac;
}

div.chat-post-body {
    border-right: 3px solid #3f2f325c;
}

.message-viewer-wrapper:last-child {
    background: #fffef9;
    box-shadow: 2px 2px 5px #ee67673b;
}

#buffers-container {
    color: #1f0d0dd9;
    font-size: 13px;
}

a.buffer-name-holder {
    font-size: 13px;
    text-decoration: none;
    color: #090303db;
    padding-top: 2px;
    padding-left: 5px;
}

a.buffer-name-holder .buffer-prefix {
    color: #4d3b3b;
    margin-top: 1px;
}

.buffer-description {
    font-size: 10px;
    color: #332828;
    margin-left: 8px;
}


.chat-post-body {
    border-left: 3px solid transparent;
}

.reply-to-me .chat-post-body {
    border-left: 3px solid #b52424cf;
    margin-left: 1px;
}

.chat-post-toggle {
    margin-left: 10px;
}


.chat-post-sender {
    /*
    color: #131313;
    text-shadow: 1px 1px #cc229187;
    font-size: smaller;
    height: 15px;
    */
    font-size: 12px;
    color: blue;
    color: #0f6208;
    font-weight: bold;
}

/*
.chat-post-sender:hover {
    color: #cc229187;
    text-shadow: 1px 1px #131313;
}*/

div.active-buffer {
    border-left: 2px solid #c6b4b4;
    background: #d7c8be;
}

/*
article.chat-post-wrapper {
    background: linear-gradient(-90deg,  #f6eeee54, #fff0);
}*/

#user-profile-actions {
    margin-bottom: 10px;
}

#chat-container {
    /* flex-direction: row-reverse; */
}

#input-stuff {
    display: flex;
}

#chat-page-input {
    font-size: 12px;
    flex: 1;
}

#chat-page-input:disabled {
    background: #d8d8d8;
}

#chat-page-posts {
    background: linear-gradient( #a9a93500 40%, #f7f0f0);
    background: #f7f0f0;
    background: #fff3f3;

}

article.chat-post-wrapper {
    margin-left: 12px;
}

article.reply-to-me > div.chat-post-body {
    background: #fde8f2941;
}


#chat-body-container {
    /* margin-left: 5px; */
    /*
    box-shadow: -11px -4px 5px 0px rgba(51, 13, 13, 0.75);
    */
}

#chat-side-bar {
    margin-top: 5px;
    margin-left: 3px;
}

.chat-post-content {
    /* padding-left: 2px; */
    /* width: 100%; */
    /*
    display: flex;
    flex-direction: column-reverse;*/
    /* border-left: 1px solid #3f2f325c; */
    /*clear: both; */
}


/*
.content-wrapper {
    display: flex;
    flex-direction: row;
}*/


#player-header {
    padding: 2px 2px 0 2px;
    background: #e8d2d2;
    box-shadow: 2px 2px 3px #0d0b0bab;
    filter: opacity(75%);
}

#media-player-holder {
    /*
    width: 430px;
    height: 250px;
    */
    border: 1px solid #a699997a;
    background: #e8d2d2;
    box-shadow: 2px 2px 3px #0d0b0bab;
}

/*
.replies-to-me::after {
    content: " (You)";
}*/

.media-loading > img {
  background: #fafafa63;
}

.media-loaded {
	animation-name: background-off;
	animation-duration: 1250ms;
	animation-iteration-count: 1;
}

@keyframes background-off {
	from {background: #fafafa63;}
	to {background: transparent;}
}


#player-url {
    font-size: smaller;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

a#close-player {
    color: #932424;
    font-weight: bold;
    float: right;
    font-size: 15px;
    padding-right: 10px;
}

div.chat-post-content {
    padding: 2px 2px 2px 1px;
}
/* Should match */
img.attachment-thumb {
    margin-left: -5px;
    margin-top: -2px;
    margin-bottom: -5px;
}

div.chat-post-message {
    color: #861230;
    /* font-size: 1em; */
    /* padding: 2px 2px 5px 0; */
    font-size: 14px;
    line-height: 14px;
}


header#chat-top-header {
    font-family: 'Courier New', monospace;
}

/*a.link {
    font-size: 0.65rem;
}*/


div.chat-post-delete {
    color: #a01717;
}

a.chat-post-attachment {
    margin-right: 8px;
    margin-left: 0!important;
}

img.attachment-video {
    border: 1px solid #bfabab;
}


img.attachment-thumb.has-alhpa {
    vertical-align: bottom;
}


img.attachment-thumb.has-alhpa:not(.thumb-lazy), img.audio-cover-art:not(.thumb-lazy) {
    /* margin-left: 3px; */
    /*
    border-right: 1px solid #00000026;
    border-bottom: 1px solid #00000026;*/
    filter: drop-shadow(rgba(27, 21, 21, 0.46) 0px 3px 3px) brightness(110%)
}

img.thumb-lazy {
    background: rgba(0, 0, 0, 0.027);
}



div#media-viewer > video,
div#media-viewer > img:not(:hover) {
    filter: drop-shadow(rgba(115, 29, 29, 0.57) 0px 10px 5px)

}

#active-buffer-info-container {
    background-color: #d0b9aa;
    background-color: #e6d2c5;
    background: #f7e5da;
    filter: drop-shadow(3px -2px #eae8e88f);
    font-size: 12px;
    border-bottom: 1px solid #874d3869;
    border-right: 1px solid #874d3869;
    padding: 3px;
}

#reply-view-picker {
    /*
	background-color: white; */
	border: 1px solid black;
	padding: 15px;
}

.buffer-holder {
    box-shadow: 0 0 8px 0 #a89e9e;
    margin-bottom: 5px;
}

.buffer-item {
    /*background-color: #d9c7bb;*/
    background: #c6b6ab;
    background: #eedcd0;
    border-bottom: 1px solid #00000047;
    border-right: 1px solid #c4b8b8;
}

.highlighted-buffer {
    border-left: 2px solid #9f1414b0;
}

.highlighted-message-viewer {
    background: #f4f1f1;;
    /* z-index: 900001 !important; */
}

.buffer-highlighter {
    color: #b06c6c;
}

.buffer-close {
    color: #881114;
}

.buffer-close:hover {
    color: #d64549;
}

.chat-info-message-holder {
    background: #86816338;
    border: 1px solid #0000004f;
}


/*
.reply-view-link:hover {
	font-weight: bold;
}*/

.attachment-link {
    color: #9b0e33;
}

.replies-to-me {
    /*
    font-weight: bold;
    */
}

a.chat-reply-backlink {
    color: #2e2ea8;
    text-decoration: none;
}

/*
.chat-reply-backlink:hover {
    color: blue;
}*/

header.chat-post-header {
    /*background:#d5d5c2;*/
    background: #eaddce;
    background: #f4e4dc;
 /*   background: linear-gradient( #d5d5c2 150px, #eeedd9);
    background-color: #292a1240;*/
    padding-left: 5px;
    border-top: 1px solid #ddc;
    border-left: 1px solid #c4b9b9;
    border-right: 2px solid #00000012;
    border-bottom: 1px solid #7768688c;

    font-family: Georgia, serif;
    font-family: 'Courier New', monospace;

    line-height: 22px;
    font-size: 11px;
}

header.chat-post-header * {
    margin-right: 7px;
}

a.chat-post-num, header.chat-post-header {
    /*color: #462121; */
    color: black;
    padding-top: 2px
}

/*
a.message-toggle-expand {
    border-radius: 8px;
    background: #e3d1be;
}*/



.chat-post-header:last-child {
    border-bottom: 2px solid #00000012;
}

.closeAudio {
    color: blue;
}

footer.chat-attachment-footer-container {
    font-size: 9px;
}

footer.chat-attachment-footer-container  span.spacer {
    vertical-align: top;
    line-height: 10px;
    color: #151313ba;
}


.chat-input-group > input, #chat-file-input-wrapper {
    color: black;
}

select.chat-config {
    width: 100%;
}

body.reversed * form#input-stuff {
    border-bottom: 1px solid #ddcece;
    box-shadow: -2px 2px 5px #00000017;
}

body.reversed * div#chat-page-posts {
    margin-left: 5px;
    margin-top: 1px;
}


/*
input[type='checkbox'].chat-config {
    float: right;
}*/

/*
.chat-input-group > input:hover:not([disabled~='disabled']) {
    background-color: #89817a;
}*/
