@import url("futabish.css");

body {
    background: #fffff6; 
}



#chat-page-posts {
    background: #f6f3ee5e;
	/*border: 1px solid #ad98470d;
    */
}

div.chat-post-message {
    margin-bottom: -5px;
    margin-top: 0;
}

#chat-page-posts {
    background: none;
}

/*
article {
    display: inline-flex;
    flex-direction: column;
}

header.chat-post-header {
    display: inline-flex;
}*/

article.replies-to-me .chat-post-content {
	border-left: 3px solid #ca3939;	
	padding-left: 5px;
}

body.centered-ui .chat-post-message {
    max-width: 45vw;
}
body:not(.centered-ui) .chat-post-message {
    max-width: 70vw;
}

img.poster-icon {
	height: 22px;
	margin: unset;
	margin-right: 5px;
	object-fit: scale-down;
	vertical-align: bottom;
}
img.poster-icon:first-of-type{
	margin-right: 5px;
	margin-left: 3px;
}

div#chat-body-container {
    /*box-shadow: -5px 5px 29px 3px #28242630;*/
    padding: 5px;
}

div.chat-post-body {
    display: inline-block;
    /*background-color: #fff3f3;
    background-color: #fbeae9;*/
}

div.chat-post-body:hover {
    filter: brightness(102%);
}

header.chat-post-header {
    /*margin-left: 5px;*/
    background-color: #f4e4dcb8;
}

div.chat-post-body {
    /*margin-left: 18px; */
    /*margin-top: 2px;*/
    border-right: none;
    margin-bottom: 4px;
    width: calc(100% - 15px);
    padding-left: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #ffffff38;
    border: 1px solid rgb(0,0,0,0.05);
}

.chat-feed-container {
    background-color: #fff3ead9;
    border: 1px solid #0b0a0a66;
    border: none; 
    border: 1px solid rgb(0,0,0,0.1);
    margin-right: 5px;
    color: #281d1d;
}
/*
a.chat-post-attachment {
    margin-left: 9px;
}*/

.new-posts-marker {
    border: 1px solid rgba(0, 0, 0, 0.01);
    margin-bottom: 8px !important;
    background-color: none !important;
    margin-left: 15px !important;
    background-color: #85732c14 !important;
}

div.chat-post-message {
    margin-right: 10px;
    padding-right: 15px;
    /*filter: drop-shadow(1px 1px #4d39372e);*/
}

.buffer-holder {
    box-shadow: none;
}

form#input-stuff {
    background: transparent !important;
	box-shadow: none !important;
}

header#chat-top-header:not(:hover) {
	filter: opacity(0.6);
}
header#chat-top-header {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 100;
}

#channelInfoViewer {
	background: white !important;
	color: black !important;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.15);
}
#channelInfoViewer img {
    margin-right: 5px;
}

div.chat-post-content {
    /*margin-left: 5px;*/
	padding-top: 4px;
}

footer.chat-attachment-footer-container {
    padding-right: 5px;
    padding-top: 1px;
    margin-bottom: -2px;
    font-size: 11px;
}

/*
.chat-post-body::before {
    content: ">>";
    position: relative;
    right: 20px;
    font-size: 12px;
    height: 12px;
    margin-top: -20px;
}*/

@media screen and (max-width: 600px) {
    div#chat-body-container {
        padding: 0;
    }
    article.chat-post-wrapper {
        margin-left: 0;
    }
}
