@import url("plain/plain-base.css");
@import url("../mobile.css");
@import url("../style.css");

:root {
	--thumb-max-width: 125px;
	--thumb-max-heigth: 120px;
	--greentext-color: #077;
	--bg-color: #eee;
	--text-color: black;
}

body {
	font-family: sans-serif;
}


article.chat-post-wrapper {
	background: #aac !important;
	padding: 2px 2px 2px 5px;
	margin-left: 35px;
	margin-bottom: 5px;
}

header.chat-post-header, div.chat-post-body {
	position: relative;
	top: -12px;
}
article.chat-post-wrapper:hover::before {
	font-weight: bold;
}
article.chat-post-wrapper::before {
	content: ">>";
	position: relative;
	right: 30px;
	font-size: 12px;
	height: 12px;
}

header.chat-post-header {
	margin-top: -8px;
	margin-bottom: 5px;
}

a.chat-post-num:hover {
	font-weight: bold;
}

a.chat-reply-backlink.replies-to-me {
	font-weight: bold;
}


header#chat-top-header {
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
	background: #e3e3f0;
	color: #229;
}

div.chat-post-message {
	font-size: 14px;
}

span.buffer-description {
	padding-left: 5px;
}

.buffer-name-holder {
	color: black;
}

div#chat-side-bar {
	/* background: #aac; */
	margin-left: 3px;
	/* border-left: 1px solid #6e6767; */
	color: #229;
	/*
	background: #e3e3f0;*/
}

div#chat-post-viewers > div.message-viewer-wrapper {
	border: 2px dashed #229;
	background: #aac;
}

div#chat-post-viewers > div.message-viewer-wrapper article {
	border: 2px dashed transparent;
}

div#chat-post-viewers > div.message-viewer-wrapper article.post-on-highlight {
	border: 2px dashed #0d0da5;
}

div#chat-post-viewers > div.message-viewer-wrapper > article.chat-post-wrapper {
	margin: 5px;
}


form#input-stuff {
	background: #313370;
	color: white;
	padding: 3px 5px 0 0;
	justify-content: space-around;
}

img.attachment-thumb {
	border: none;
}

a.chat-post-sender {
	color: #33c;
	font-weight: bold;
}

a.chat-reply-backlink {
	color: #229;
}

#channelInfoViewer {
	background: white !important;
	color: black !important;
}