@import url("../style.css");
@import url("../mobile.css");

:root {
	--smooth-scroll-disabled: 1;
	--bg-color: #b5a5a5;
	--greentext-color: #680505;;
	/*--greentext-color: #173108;*/

	padding: 0;
}

body, div.chat-post-message {
	/*
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	*/
	font-family: monospace;
}

body, .message-viewer-wrapper > article, div#mobile-view-settings {
	background: var(--bg-color);
}

article {
	border-style: outset;
	margin-left: 4px;
	padding-left: 4px;
	margin-top: 2px;
}

div#buffer-name-and-topic #topic {
	font-size: 13px;
}

/*
article.overflown > div.chat-post-body {
	box-shadow: 0 1px 5px #201d1d
}*/

div.chat-post-body {
	display: flex;
	flex-direction: column-reverse;
	border-left: 1px solid #9b8888;;
}

div#side-bar-togglables {
	border-top: 2px solid #a69e9e;
	/*border-left: 2px solid #777070;*/
	border-bottom: 2px solid #777070;
	margin-top: 2px;
	background: gray;
	background: #a6919166;
}

div.buffer-holder {
	border-right: 1px solid #776a6a;
}

div.buffer-item {
	border: 1px outset;
}

div.buffer-item.active-buffer {
	background: #8a7d7d6e;
}

span.buffer-description {
	display: none;
}

form#input-stuff {
	border-top: 2px solid #c4b4b4;
}


a.buffer-name-holder {
	order: 1;
}

a.buffer-close {
	order: 2;
}

span.buffer-unreads {
	order: -1;
	align-self: flex-end;
}

a.buffer-name-holder {
	color: black;
	/*
	text-shadow: 1px 1px #CAB8B8
	*/
}


/* So attachment and post fits in same line but doesn't fuck message presentation in reply viewer */
/*.buffer-holder > article.chat-post-wrapper div.chat-post-message { */
article.chat-post-wrapper .chat-post-content > .chat-post-message:not(:first-child)
{
	max-width: calc(100% - 150px);
}

div.chat-post-message {
	color: #151313;
	padding: 3px 7px 7px 6px;
	text-shadow: 1px 1px #aa8585;
	font-size: 14px;
	display: inline-block;
}

.message-viewer-wrapper {
	background: #bebebe;
	border: 1px solid #ae9797;
}


div.buffer-holder {
	background: #a69797;
	background: #bba6a6;;
}

.post-on-highlight {
	filter: brightness(75%);
}

div#buffer-name-and-topic > #name {
	font-weight: bold;
}

#active-buffer-info-container {
	font-size: 13px;
	padding-top: 3px;
}

.buffer-link {
	font-size: 12px;
	padding: 3px;
}

div#side-bar-toggles {
	font-size: 12px !important;
}

div#side-bar-toggles > *{
	color: #352f2f;
}
#nick {
	font-weight: bold;
}

a.chat-post-sender {
	color: #791919;
	/* vertical-align: baseline; */
	line-height: 15px;
	font-weight: bold;
	font-size: 12px;
}

article.replies-to-me div.chat-post-content {
	border-left: 2px solid #731d1d;
}

div.chat-post-content {
	/* margin-left: 30px; */
	flex-direction: column-reverse;
	/* border-left: 1px solid #665858; */
	background: #bda4a4;
}

.content-wrapper {
	margin-right: 3px;
}

.chat-reply-backlink {
	color: #423a3a;
	font-size: 12px;
}

a.link {
	font-size: smaller;
}

a.embed {
	color: #25259b;
	font-weight: bold;
}

#chat-page-input {
	width: 90%;
	margin-top: 1px;
	border: 3px solid #c2b5bb;
	border-style: revert;
}

/*
div#chat-input-buttoms * input, div.chat-input-group > input {
	border-style: solid;
	border-color: transparent;
}*/

.media-loading > img {
	background: #8e85855e;
}

.media-loaded {
	animation-name: test;
	animation-duration: 1250ms;
	animation-iteration-count: 1;
}

@keyframes test {
	from {background: #8e85855e;}
	to {background: transparent;}
}


header.chat-post-header {
	border-bottom: 1px solid #665858;
	/* font-size: 12px; */
	background: #b5a8a8;
	padding-left: 5px;
	padding-bottom: 2px;
	font-size: 11px;
	display: flex;
	position: relative;
}

span.chat-post-whisper {
	margin: unset !important;
}
span.poster-icons-holder {
	display: inline-block;
}

img.poster-icon {
	margin-bottom: unset !important;
	margin-top: -3px;
}

header.chat-post-header .default-right {
	justify-self: end !important;
	float: unset !important;
	margin: unset !important;
}

.chat-post-delete {
	position: absolute;
	right: 5px;
}

.chat-post-toggle {
	position: absolute;
	right: 25px
}


header.chat-post-header > .post-header-right-items {
	padding-right: 5px;
	align-self: flex-end;
}

header.chat-post-header > .chat-post-country {
	display: inline;
	/* vertical-align: top; */
	/* line-height: 15px; */
}



a.chat-post-num::before {
	content: '#';
}

a.chat-post-attachment {
	margin-left: 0;
	margin-bottom: -3px;
	overflow:hidden
}

img.img.attachment-thumb {
	padding-left: 0;
}

footer.chat-attachment-footer {
	font-size: 10px;
	/*
	background: #ac97977d;
	*/
}

code {
	background: #f9e2e2;
}

/*
div#media-player-holder:hover {
	animation: add-brightness 0.125s forwards;
}

@keyframes add-brightness {
	0% {filter: brightness(100%)};
	100% { filter: brightness(215%)};
}*/

div#media-player-holder {
	background: #b5464614;
	border: 1px outset #d9d6d638;
}

header#chat-top-header {
	box-shadow: 0 4px 2px -2px #797070;
	margin-bottom: 1px;
	
}

header#player-header {
	background: #807b7b;
	border: 2px outset black;
}

a#close-player {
	font-weight: bold;
	font-size: 15px;
	color: #1e1c1c;
}

span#player-url {
	margin-left: 5px;
	font-size: 11px;
}

span#player-url > a {
	color: #ecd3d3;
	text-shadow: 1px 1px #00000030
}


body.reversed * form#input-stuff {
    border-bottom: 1px solid #84847b;
	box-shadow: 0 2px 2px -2px #797070;
}


/*
body.reversed * div#chat-body-container {
	box-shadow: 0 2px 2px 2px #797070;
	padding-right: 5px;
}*/


div#chat-page-posts {
	background: #6841411c;
}

div.buffer-holder {
	margin-left: 2px;
	background: none !important;
	border-right: none;
}

body.centered-ui article.chat-post-wrapper {
	margin-left: 25px;
	margin-right: 20px;
}
article.chat-post-wrapper {
	border-radius: 4px;
	margin-bottom: 0 !important;
	background: #b5a8a8;
	border-bottom-color: #c1b2b2;
	border-right-color: #c1b2b2;
	margin-top: 5px;
}

textarea {
	font-size: 12px !important;
}

body.reversed * textarea {
	border-style: outset !important;
	margin-right: 5px;
}

div#chat-upload-thumbnail > img {
	margin-left: 5px;
}

#chat-feed > .chat-feed-container {
	background: #d1b7b7d1 !important;
	border: 1px solid #847c7c !important;
	margin-right: 5px !important;
}