@import url("../style.css");
@import url("../mobile.css");


body {
	visibility: visible !important;
	background: #e8e5f2;
}

/*
body * {
	background: #fbf0f0;
}*/


span.buffer-close {
	font-size: 13px;
}

span.buffer-close:hover {
	font-weight: bold;
}



div.buffer-item {
	border-left: 1px dotted black;
	color: black;
}

div.buffer-item.active-buffer {
	border-left: 2px solid #736e6e;
	background: #ccc9d7a3;
}


div#chat-page-posts {
	/*background: white; */
	background: linear-gradient(#eee, #f5f5f0);

}

article.chat-post-wrapper {
	background: #eae8dc;
	margin-top: 5px;
	border: 1px solid #847f7f;
	border-radius: 2px;
}

article.reply-to-me {
	background: #ddd8bc;
}

/*
a.chat-reply-backlink.replies-to-me {
	color: black;
	font-weight: bold;
}*/

a.chat-reply-backlink {
	font-size: 11px;
}

a.chat-reply-backlink.replies-to-me::after {
	content: " (You)";
}

header#chat-top-header {
	/*
	border-bottom: 1px solid #f5f3e5;
	border-bottom: 2px solid #afb9ca;
	*/
	box-shadow: 1px 1px #c6bbbb inset;
	background: pink;

}

div#chat-page-posts {
	border-top: 1px solid black;
}

header.chat-post-header, a.chat-post-num {
	font-size: 11px;
	background: #f2f1e8;
	border-bottom: 1px solid #d9d1c8;
}

span.chat-attachment-footer {
	font-size: 11px;
}

.chat-post-message {
	padding: 1px 0 1px 0;
}


div#media-player-holder {
	background: #e1d9d9;
	border: 1px solid #a29595;
	color: black;
}

a.buffer-name-holder {
	font-size: 12px;
}