
@import url("../mobile.css");
/* @import url("../style.css");*/
@import url("../skeleton.css");


:root {
    --thumb-max-width: 140px;
	--thumb-max-heigth: 140px;
    --smooth-scroll-disabled: 0;
}

body {
    font-family: arial, helvetica, sans-serif;
    background: #eef2ff no-repeat;

    background-image: linear-gradient(to bottom, #d1d5ee 0,transparent 260px);
    visibility: visible !important;

    --green-text-color: green;
}

.greentext {
    color: #789922;
}


div.buffer-item {
    padding: 0.2rem;
    padding-left: 0.5rem;
}

div.buffer-item:hover {
    background: #00000008
}

div.active-buffer {
    background: #b1bef23b
}

span.buffer-description {
    font-size: 0.7rem;
}

footer.chat-attachment-footer-container,
header.chat-post-header {
    font-size: 0.75rem;
}
header.chat-post-header * {
    margin-right: 0.08rem;
}

.chat-post-delete {
    margin-right: 0.6rem !important;
}


.chat-post-delete, .chat-post-toggle {
    cursor: pointer;
    float: right;
    margin-left: 1rem;
    cursor: pointer;
}



article {
    background: #d6daf0;
    /*
    margin-bottom: 5px;
    font-size: 10pt;
    margin-left: 15px;
    padding: 8px*/
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    padding: 0.3rem;
    padding-left: 1rem;
}

span.chat-post-whisper {
    float: right;
}

.chat-post-toggle,
.chat-post-delete,
span.chat-post-whisper
{
    /*visibility: hidden; */
    opacity: 0;
}

header.chat-post-header:hover .chat-post-toggle,
header.chat-post-header:hover .chat-post-delete,
header.chat-post-header:hover span.chat-post-whisper
{
    visibility: visible;
    animation: fadein 0.1s forwards;
    cursor: pointer;
}

@keyframes fadein{
    0%      { opacity:0; visibility: visible; }
    100%    { opacity:1; }
}

.art-cover-holder {
    display: inline-block;
}


a.chat-reply-backlink {
    color: #ff0000;
    cursor: pointer;
}

div.message-viewer-wrapper {
    border: 1px solid #8f93a2;
    background: #d6daf0;
}

header#player-header {
    font-size: 0.8rem;
    padding-left: 0.3rem;
}

#channelInfoViewer {
	background: white !important;
	color: black !important;
    box-shadow: 2rem 2rem 2rem rgb(0, 0, 0, 0.15);
}